.error-field {
    width: 300px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
}

.error-field__label {
    display: inherit;
    align-items: flex-end;
    margin-bottom: 18px;
    font-family: "Segoe UI", serif;
    font-size: 20px;
    color: #707070;
    background-color: inherit;
}

.error-field__errorText {
    display: inherit;
    align-items: flex-end;
    margin-bottom: 18px;
    font-family: "Segoe UI", serif;
    font-size: 20px;
    color: #d24949;
    background-color: inherit;
}

.error-field__input__container {
    width: 100%;
    height: 50px;
    display: inherit;
    align-items: flex-end;
}

.error-field__input__container input {
    width: 100%;
    height: inherit;
    border-radius: 3px;
    border: #707070 2px solid;
    font-family: "Segoe UI", serif;
    font-size: 20px;
    color: #5A5A5A;
}

.error-field__text__container {
    width: 100%;
    height: 50px;
    display: inherit;
    justify-content: space-between;
    background-color: inherit;
}