.header__user-logo {
    width: 42px;
    height: 42px;
    background-color: #707070;
    border-radius: 50%;
}

.header__user__container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__user__container a {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    cursor: pointer;
    text-decoration: none;
    color: #5A5A5A;
    font-size: 15px;
    font-family: "Segoe UI", serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #EEE;
}

.header__toMain {
    margin: 0 15px;
    text-decoration: none;
    color: #5A5A5A;
    font-size: 15px;
    font-family: "Segoe UI", serif;

}