.sign-in {
    background-color: #D6D6D6;
    width: 360px;
    border: #707070 2px solid;
    border-radius: 3px;
}

.sign-in__button__container {
    height: 50px;
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sign-in__registration {
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #5A5A5A;
    font-size: 20px;
    border-right: #707070 1px solid;
    border-top: #707070 2px solid;
    font-family: "Segoe UI", serif;
}

.sign-in__enter {
    height: inherit;
    width: 50%;
    background-color: inherit;
    border: none;
    border-left: #707070 1px solid;
    color: #5A5A5A;
    font-family: "Segoe UI", serif;
    font-size: 20px;
    cursor: pointer;
}

.sign-in__registration:active {
    transform: translatey(1px);
    border-bottom: #707070 1px solid;
}

.sign-in__enter:active {
    transform: translatey(1px);
}